
<% if(locals.msgs) { %>
  <% if(msgs.length > 0) { %>
    <ul class="msg_list">
      <% for(let msg of msgs) { %>
        <li>
          <%= msg %>
        </li>
      <% } %>
    </ul>
  <% } %>
<% } %>


<% if(err_msg.length > 0) { %>
  <ul class="err_list">
    <% for(let msg of err_msg) { %>
      <li>
        <%= msg %>
      </li>
    <% } %>
  </ul>
<% } %>