.order__liset
{
  list-style: none;
}

.order__liset .order
{
  border: solid 1px var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 3px var(--shadow-color);
  margin: 10px;
}
