<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs') %>
</head>
<body>
  <%-include('../includes/nav.ejs') %>
  <main>
    <h1>ERROR 500</h1>
    <p>Sorry, an error has occurred. Please try again. 
       If the error persists, please try again later or contact support.</p>
    <%-include('../includes/msgs.ejs') %>
  </main>

<%- include('../includes/end.ejs') %>