<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href='/css/product-card.css'>
</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <h1 class="main_title">terraVR</h1>
    <%- include('../includes/msgs.ejs') %>

    <div class="title_page_display">
      <article class="main_article_left articlebg1">
        <h2>Jump into a New World</h2>
        <p>
          Gaming is no longer a just window into another world. Motion and room scale tracking, high resolution screens, and high-fidelity audio
          allow you to enter a whole new reality.
        </p>
      </article>
  
      <article class="main_article_right articlebg2">
        <h2>A World You Can Reach Out And Touch</h2>
        <div>
          <p>
            Advances in haptic feedback, controller design, and game mechanics
            help you to feel the virtual world around you like never before.
          </p>
        </div>
      </article>
      
      <article class="main_article_left articlebg3">
        <h2>Find Your Own Piece of the Universe</h2>
        <p>
          Virtual reality systems are not just for the dedicated gamers anymore. With more 
          options that ever before, you can find a system that best fits you.
        </p>
      </article>

      <div class="centered title_page_display_land">
        <a class="big_btn" href="/products">Discover Your Own World</a>
      </div>
    </div>
    
    

    



    
  </main>
  <%- include('../includes/end.ejs') %>